<% 
var formatTIME = function(date)
{
    var d = new Date()
    var currentTime = d.getTime() - date;
    var time = "";
    if(currentTime < 60000)
    {
        time = "Vừa xong";
    }
    else if(currentTime < 3600000)
    {
        time = Math.floor(currentTime/60000) + " phút trước";
    }
    else if(currentTime < 86400000)
    {
        time = Math.floor(currentTime/3600000) + " giờ trước";
    }
    else if(currentTime < 604800000)
    {
        time = Math.floor(currentTime/86400000) + " ngày trước";
    }
    else if(currentTime < 2628000000)
    {
        time = Math.floor(currentTime/604800000) + " tuần trước";
    }
    else
    {
        time = date.getHour()+":"+date.getMinutes()+" "+date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
    }

    return time;
}

%>

<% for(var i = 0; i < genres.length; i++) { %> <% var post_of_genres =
posts.filter(item => item['genres.name']==genres[i])%> <%
if(post_of_genres.length > 0){ %>
<div class="news" id="tin360">
  <div class="content_inner">
    <h3 class="news_heading padding-20">
      <a href="#" class="visted--none">
        <i class="fa-solid fa-atom icon_heading"></i><%= genres[i] %>
      </a>
    </h3>
    <div class="grid-container-2">
      <article class="grid-item tin360-l">
        <div class="grid-container-1">
          <div class="grid-item">
            <% var index2, lastindex2,length_ %> <% length_ =
            post_of_genres.length
            >2?post_of_genres.length-2:post_of_genres.length %> <% for(var j =
            0; j < length_; j++) { %> <% index2=
            post_of_genres[j].content.indexOf("http://res.cloudinary.com/")%> <%
            lastindex2 =post_of_genres[j].content.indexOf("\"", index2) %> <%
            const image =post_of_genres[j].content.slice(index2,lastindex2)%>
            <article class="story story--primary">
              <a
                href="/post?id=<%=post_of_genres[j].id %>"
                class="story__thumb--img"
              >
                <img
                  src="<%= image%>"
                  alt="anh story"
                  class="story__thumb_img"
                />
              </a>
              <div class="story__thumb--text">
                <h1 class="story__thumb-text">
                  <a href="/post?id=<%=post_of_genres[j].id %>"
                    ><%= post_of_genres[j].title%>
                  </a>
                </h1>
                <div class="story__thumb_info">
                  <div class="story__thumb_time"><%= formatTIME(post_of_genres[j].createdAt) %> </div>
                  <div class="story_thumb_dash">-</div>
                  <div class="story__thumb_cmt">
                    <span class="far fa-comment-dots"></span>
                    <span>0</span>
                  </div>
                </div>
              </div>
              <span class="icon__play"><i class="fas fa-play-circle"></i></span>
            </article>
            <% } %>
          </div>
        </div>
      </article>
      <% if(post_of_genres.length >= 3){ %> <% var index, lastindex; %> <%
      index=
      post_of_genres[post_of_genres.length-2].content.indexOf("http://res.cloudinary.com/")%>
      <% lastindex
      =post_of_genres[post_of_genres.length-2].content.indexOf("\"", index) %>
      <% const image
      =post_of_genres[post_of_genres.length-2].content.slice(index,lastindex)%>
      <article class="grid-item tin360-r">
        <article class="story story-3-rowLeft">
          <a
            href="/post?id=<%=post_of_genres[post_of_genres.length-2].id%>"
            class="story__thumb_top--img"
          >
            <img src="<%= image%>" alt="anh story" class="story__thumb_img" />
          </a>
          <div class="story__thumb--text">
            <h1 class="story__thumb-text">
              <a href="/post?id=<%=post_of_genres[post_of_genres.length-2].id%>"
                ><%= post_of_genres[post_of_genres.length-2].title%></a
              >
            </h1>
            <div class="story__thumb_info">
              <div class="story__thumb_time"><%= formatTIME(post_of_genres[post_of_genres.length-2].createdAt) %> </div>
              <div class="story_thumb_dash">-</div>
              <div class="story__thumb_cmt">
                <span class="far fa-comment-dots"></span>
                <span>0</span>
              </div>
            </div>
          </div>
        </article>
        <% index=
        post_of_genres[post_of_genres.length-1].content.indexOf("http://res.cloudinary.com/")%>
        <% lastindex
        =post_of_genres[post_of_genres.length-1].content.indexOf("\"", index) %>
        <% const image2
        =post_of_genres[post_of_genres.length-1].content.slice(index,lastindex)%>
        <article class="story story-2-rowLeft">
          <a
            href="/post?id=<%=post_of_genres[post_of_genres.length-1].id%>"
            class="story__thumb_bottom--img"
          >
            <img src="<%= image2%>" alt="anh story" class="story__thumb_img" />
          </a>
          <div class="story__thumb--text">
            <h1 class="story__thumb-text">
              <a
                href="/post?id=<%=post_of_genres[post_of_genres.length-1].id%>"
              >
                <%= post_of_genres[post_of_genres.length-1].title%></a
              >
            </h1>
            <div class="story__thumb_info">
              <div class="story__thumb_time"><%= formatTIME(post_of_genres[post_of_genres.length-1].createdAt) %> </div>
              <div class="story_thumb_dash">-</div>
              <div class="story__thumb_cmt">
                <span class="far fa-comment-dots"></span>
                <span>0</span>
              </div>
            </div>
          </div>
        </article>
        <% } %>
      </article>
    </div>
  </div>
</div>
<% } %> <% } %>
