<div class="content_inner">
  <div class="grid-container-1">
    <div class="grid-item post">
      <h1 class="post_heading"><%= post.title %></h1>
      <%- include('author_info.ejs',{post}) %> <%-
      include('meta.ejs',{post,timeofPost}) %>
      <div class="detail_content" id="postdetail" postid="<%= post.id %>">
        <div class="detail_l_content">
          <div id="main"></div>
          <%- include('news_for_you.ejs') %> <%- include('more_news.ejs') %> <%-
          include('comment_.ejs') %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let data = new DOMParser().parseFromString(`<%=dataHTML%>`, "text/html")
    .documentElement.innerText;
  document.querySelector("#main").innerHTML = data;
  $(document).ready(function () {
    $(".left-tab").click(function () {
      $(".news").css("display", "none");
      const link = $(this).attr("link-data");
      $("#content").load(link);
      return false;
    });
  });
</script>
<script>
  if (localStorage.getItem("user")) {
    $(".author_info_register").css("display", "none");
    $(".btn_cmt").css("display", "block");
  } else {
    $(".author_info_register").css("display", "block");
    $(".btn_cmt").css("display", "none");
  }
</script>
<script>
  $(".author_info_register").click(function () {
    var eleFormLogin = document.querySelector(".nav_login");
    eleFormLogin.classList.remove("cl");
    return false;
  });
  const user = JSON.parse(localStorage.getItem("user"));
  console.log(user);
  if (user) {
    document.getElementById("img_comment_author").src = user.photoURL;
    document.getElementById("img_comment_author").name = user.displayName;
  }
</script>
<script>
  function replaceHTMLs(data) {
    var comment = $("#comment_element").html();
    comment = comment.replace("{{name}}", data.name);
    comment = comment.replace("{{url}}", data.url);
    comment = comment.replace("{{content}}", data.content);
    comment = comment.replace("{{time}}", data.createdAt);
    var box = $("#showcomment");
    $(comment).appendTo(box);
  }
  function retriveComments(id) {
    $.ajax({
      url: "https://baochicuocsong.herokuapp.com/api/v1/comment?idpost=" + id,
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      type: "GET",
      success: function (data) {
        data.forEach((element) => {
          replaceHTMLs(element);
        });
      },
    });
  }
  $("document").ready(function () {
    $("#showcomment").empty();
    setTimeout(function () {
      retriveComments(`<%= post.id %>`);
    }, 1000);
  });
</script>
